@import "/src/shared/assets/styles/mixins";

.input {
  @include bluredBg;

  border-radius: var(--border-radius-input);
  color: var(--color-text);
  padding: 0.5rem 1.5rem;
  font-size: var(--font-size-default);
  outline: transparent;
  border: none;
  min-width: 5em;

  &::placeholder {
    color: var(--color-text-secondary);
  }

  &:read-only {
    background: var(--color-el-bg-active);
  }
}
