.accent_btn {
  --hover-bg: var(--color-bg);
  --hover-color: var(--color-primary);

  background: var(--color-primary);
  color: var(--color-bg);

  &:hover,
  &:focus:focus-visible {
    box-shadow: 0 0 1000px var(--color-primary);
  }
}
