@import '/src/shared/assets/styles/mixins';

.item__btn {
  font-size: var(--font-size-h4);

  padding: 1em 1em; 
  border-radius: var(--border-radius-button);
  position: relative; 

  &:not([aria-disabled="true"]):focus-visible,
  &:hover {
    background: var(--color-el-bg);
  }

  &.btn_active {
    color: var(--color-accent); 
  }

  &.item__btn_with_children {
    &::before,
    &::after {
      content: '';
      position: absolute;
      background-color: var(--color-el-bg-active); 
      height: 2px; 
      border-radius: 1px; 
      top: 2px;
      left: 50%;
      translate: -50% 0;
    }
  
    &::before {
      width: 1em; 
      right: 0.25em;
    }
  
    &::after {
      width: .8em;
      translate: -50% 4px;
    }
  }
}